<ion-view view-title="Comentários" ng-init="initialize()">
  <ion-content>
	<ion-list>
	  	  <ion-item ng-repeat="comment in comments" class="item-button-right">
			  <h2></i> {{comment.user}}</h2>
			  <p>{{comment.text}}</p>
              <div class="buttons">
                <button ng-hide="comment.user_id != 0" class="button button-assertive" ng-click="deleteComment($index)">
                    <i class="icon ion-close"></i>
                </button>
              </div>
		  </ion-item>
	<ion-list>
  </ion-content>
  <!-- align to the bottom of the page -->
  <div style="position: absolute; bottom: 0px; width: 100%">
	<div style="text-align: center">
      <div style="text-align: center">
	    <form ng-submit="doComment()">
	      <label class="item item-input">
	        <input type="text" ng-model="commentData.text" placeholder="Digite aqui seu comentário..." id="comment-text" focus-me/>
	        <button type="submit" class="button button-positive" style="margin-right: 5px">Enviar</button>
	      </label>
	    </form>
	  </div>
	</div>
  </div>
</ion-view>