<ion-view view-title="Eleição de pratos">
  <ion-content>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide ng-repeat="day in days">
        <div class="list card">
          <div class="item item-positive">Votação para prato de {{day.title}}</div>
        </div>
        <div class="list card" ng-repeat="dish in day.dishes">
		  <div class="item item-image" >
		  	<div class="row">
		  	  <div class="col">
		      	<img src="img/{{dish.image}}">
		      </div>
	  	  	  <div class="col percentage" ng-class="{red: dish.percentage < 50, green: dish.percentage > 50}">
	  	  		<h1>{{dish.percentage}}%</h1>
		      </div>
		      <div class="col vote">
	  	  		<button class="button" ng-class="{'button-balanced': dish.voted}" ng-click="doVote($parent.$index, $index)">
	  	  			<i class="icon ion-arrow-up-a"></i>
	  	  			<br />Votar
	  	  		</button>
		      </div>
		    </div>
		    <div class="item">
		  	  <ul class="list">
			  	<li ng-repeat="component in dish.components">{{component.title}}<span class="item-note">{{component.extra}}</span></li>
			  </ul>
		  	</div>
	      </div>
	  	</div>
	  </ion-slide>
	</ion-slide-box>
  </ion-content>
</ion-view>
