<ion-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <div class="buttons">
      <button class="button button-clear icon-left ion-chevron-left" ng-click="back()">Voltar</button>
    </div>
    <h1 class="title">Cadastro no Bandejapp</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nome</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Sobrenome</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Matricula</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">E-mail</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Senha</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Cadastrar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
