<ion-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <div class="buttons">
      <button class="button button-clear icon-left ion-chevron-left" ng-click="back()">Voltar</button>
    </div>
    <h1 class="title">Cadastro no Bandejapp</h1>
  </ion-header-bar>
  <ion-content>
    <div class="item"><b>Todos os campos são obrigatórios</b></div>
    <form ng-submit="doLogin()">
      <div class="list">

        <label class="item item-input">
          <span class="input-label"><b>Nome</b></span>
          <input type="text" ng-model="loginData.username">
        </label>

        <label class="item item-input">
          <span class="input-label"><b>Sobrenome</b></span>
          <input type="text" ng-model="loginData.username">
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            <b>Sexo</b>
          </div>
          <select ng-model="loginData.gender">
            <option selected>Masculino</option>
            <option>Feminino</option>
          </select>
        </label>

        <label class="item item-input">
          <span class="input-label"><b>E-mail</b></span>
          <input type="text" ng-model="loginData.email">
        </label>

        <label class="item item-input">
          <span class="input-label"><b>Senha</b></span>
          <input type="password" ng-model="loginData.password">
        </label>

        <label class="item item-input">
          <span class="input-label"><b>Confirmar senha</b></span>
          <input type="password" ng-model="loginData.confirmPassword">
        </label>

        <div class="item item-checkbox">
          <label class="checkbox" style="right: auto !important;">
            <input type="checkbox" style="right: auto !important;">
          </label>
          <b>Concordo com os <a href ng-click="termsOfUsage()">termos de uso</a>.
        </div>

        <label class="item">
          <button class="button button-block button-positive" type="submit">Cadastrar</button>
        </label>

      </div>
    </form>
  </ion-content>
</ion-view>
