<ion-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <div class="buttons">
      <button class="button button-clear icon-left ion-chevron-left" ng-click="back()">Voltar</button>
    </div>
    <h1 class="title">Recuperação de senha do Bandejapp</h1>
  </ion-header-bar>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        1. Apenas usuários da instituição podem acessar o aplicativo.<br/>
        2. Comentários de teor ofensivo serão removidos e o usuário será excluído do aplicativo.<br/>
        3. Comentários que correspondam ou façam apologia ao crime serão removidos e o usuário será excluído do aplicativo.<br/>
      </div>
    </div>
</ion-view>