/* Empty. Add your own CSS if you like */
i.icon-app-alerts{
    left: 100%;
    margin-left: -50px;
    top: 100%;
    margin-top: -50px;
}

i.ion-star {
	color:black
}

.card.ranking{
	margin-bottom: 0px !important;
}

.percentage h1 {
	text-align: center;
	line-height: 115px;
	font-size: 48px;
}

.percentage.red h1 {
	color: red;
}

.percentage.green h1 {
	color: green;
}

.vote button {
	width: 100%;
	height: 115px;
}